/* header */
.header {
  width: 100%;
  height: auto;
}

.header .inner-header {
  display: flex;
  justify-content: center;
}

.header .inner-header .nav {
  flex: 0 1 1400px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header .inner-header .nav h1.logo {
  flex: 0 0 320px;
  padding: 10px 0;
  box-sizing: border-box;
}

.header .inner-header .nav h1.logo img {
  width: 100%;
  height: auto;
  display: block;
}


.header .inner-header .nav .gnb {
  flex: 0 1 680px;
}

.header .inner-header .nav .gnb ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header .inner-header .nav .gnb>ul>li {
  line-height: 60px;
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
}

.header .inner-header .nav .gnb>ul>li a {
  font-size: 16px;
}

.header .inner-header .nav .gnb>ul>li:hover>a {
  letter-spacing: 2px;
}

.header .inner-header .nav .gnb ul>li ul.sub::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid rgb(255, 0, 0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.header .inner-header .nav .gnb ul>li ul.sub {
  width: 250%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #f4f4f4;
  transition: all 0.2s;
  padding: 0 0 20px;
  border-top: 3px solid #f00;
  z-index: 30;
}

.header .inner-header .nav .gnb ul li:hover ul.sub {
  display: block;
}

.header .inner-header .nav .gnb ul>li ul.sub li {
  text-align: center;
  line-height: 40px;
  color: rgb(0, 0, 0);
}

.header .inner-header .nav .gnb ul>li ul.sub li a {
  color: inherit;
  background-color: inherit;
  font-size: 16px;
}


.header .inner-header .nav .gnb ul>li ul.sub li:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
}


.header .inner-header .nav .goto {
  flex: 0 1 320px;
  padding: 10px 0;
}

.header .inner-header .nav .goto ul {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.header .inner-header .nav .goto ul li {
  line-height: 60px;
  text-align: right;
  font-size: 12px;
  position: relative;
}

.header .inner-header .nav .goto ul li a {
  font-size: inherit;
}

.header .inner-header .nav .goto ul li:not(:last-child)::after {
  content: '';
  display: block;
  width: 2px;
  height: 12px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.header .inner-header .nav .popup {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  padding: 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  transition:all 0.3s;
  background-color: rgba(0, 0, 0, 0.404);
  width: 100vw;
  
  height: 0;
  visibility:hidden;
  opacity: 0;
  /*
  height: 100vh;
  visibility:visible;
  opacity: 1;
  */
  
}

.header .inner-header .nav .popup span.out{
  display: block;
  width: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  color: #f00;
  font-weight: bold;
  font-size: 25px;
}
.header .inner-header .nav .popup span.out:hover{
  color: #fff;
  background-color: #f00;
}

.header .inner-header .nav .popup .login-con{
  flex: 0 1 400px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 40px;
}
.header .inner-header .nav .popup .login-con form{
  padding: 40px 0 0;
}
.header .inner-header .nav .popup .login-con form ul{
  width: 100%;
}
.header .inner-header .nav .popup .login-con form ul li{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.header .inner-header .nav .popup .login-con form ul li label{
  line-height: 40px;
}
.header .inner-header .nav .popup .login-con form ul li input{
  flex: 0 1 200px;
  height: 40px;
  background-color: #f4f4f4;
  outline: 0;
  border: 0;
}
.header .inner-header .nav .popup .login-con form ul li button{
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  outline: 0;
  border: 0;
  border-top: 3px solid #f00;
}
.header .inner-header .nav .popup .login-con .search{
  width: 100%;
}
.header .inner-header .nav .popup .login-con .search a{
  width: 100%;
  display: block;
  font-size: 12px;
  text-align: right;
}

.header .inner-header .nav .popup .join-con{
  flex: 0 1 400px;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
  background-color: #fff;
}
.header .inner-header .nav .popup .join-con form{
  padding: 40px 0 0;
}
.header .inner-header .nav .popup .join-con form ul{
  width: 100%;
}
.header .inner-header .nav .popup .join-con form ul li{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.header .inner-header .nav .popup .join-con form ul li label{
  flex: 0 0 100px;
  line-height: 40px;
}
.header .inner-header .nav .popup .join-con form ul li input:not(input#userPhone){
  flex: 0 1 200px;
  height: 40px;
  background-color: #f4f4f4;
  outline: 0;
  border: 0;
}
.header .inner-header .nav .popup .join-con form ul li select{
  flex: 0 0 50px;
}
.header .inner-header .nav .popup .join-con form ul li:nth-child(2) input{
  width: 130px;
  height: 40px;
  background-color: #f4f4f4;
  outline: 0;
  border: 0;
  font-size: 12px;
}

.header .inner-header .nav .popup .join-con form ul li button{
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  outline: 0;
  border: 0;
  border-top: 3px solid #f00;
}



.popupSign{
  height: 100vh !important;
  visibility: visible !important;
  opacity: 1 !important;
}
